@keyframes full-screen {
    0%{
        width: 49.6vw;
        height: 60vh;
    }
    10%{
        width: 90%;
        height: 90%;
    }
    90%{
        width: 90%;
        height: 90%;
    }
    100%{
        width: 49.6vw;
        height: 60vh;
    }
}